
.item-image {
  border: 1px solid black;
  width: 15%;
  margin: 15px 0 5px 10px;
}

.item-price {
  font-size: 1vw;
  font-family: 'DM Serif Display';
  font-weight: 800;
  margin: 0 0 10px 10px;
}

.item-title {
  font-size: 1vw;
  font-family: 'Le Jeune Deck';
  margin: 0 0 0 10px;
}

.navbutton {
  border: 1px solid white;
  background-color: rgb(31, 41, 44);
  color: white;
  font-family: 'DM Serif Display';
  font-size: 1vw;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  margin-left: 5px;
  padding: 10px 20px;
}

.navbutton2 {
  border: 1px solid white;
  background-color: rgb(31, 41, 44);
  color: white;
  font-family: 'DM Serif Display';
  font-size: 1vw;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 10px 20px;
}

/* .shop-container {
  display: block;
  text-align: center;
} */


.slider {
  margin-left: 50px;
  margin-bottom: 10px;
}